*~
/voronoi-diagram/src/voronoi_diagram/auto/voronoi.el
/voronoi-diagram/src/voronoi_diagram/voronoi.pdf
/voronoi-diagram/src/voronoi_diagram/voronoi.tex
/voronoi-diagram/.lein-failures
/voronoi-diagram/.repl/*
/voronoi-diagram/src/view.js
